.education {
  width: 100%;
  min-height: 350px;
  background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
}

.education__text-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 54px auto 0;
  width: 90%;
}

.education__heading {
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.18538em;
  color: #FFFFFF;
}

.education__text {
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 138.68%;
  color: #FFFFFF;
}

.education__link {
  font-family: 'Montserrat', serif, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  transition: opacity .3s linear;
  margin: 0;
  color: #FFFFFF;
}

.education__link_type_big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  text-align: center;
  border-right: solid 2px white;
  border-left: solid 2px white;
  margin: 30px 0 30px 0;
}

.education__link:hover {
  opacity: .8;
}

@media only screen and (max-width: 320px){
  .education__text-holder {
    align-items: center;
  }

  .education__text {
    font-size: 13px;
    text-align: center;
  }

  .education__heading {
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.1em;
  }

}