@keyframes scroll-indicator {
  50% {
      transform: translate(0, -15px);
  }
}

.bodyy {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: #D7D7D7;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__image {
  transform: rotate(-9.67deg);
  margin: 300px 0 0 5%;
  width: 600px;
  height: 850px;
  object-fit: contain;
  object-position: center;
}

.upper-container {
  width: 100%;
  height: 1020px;
  overflow: hidden;
  position: relative;
}

.upper-container__arrow {
  position: absolute;
  top: 800px;
  left: 50%;
  z-index: 3;
  animation: scroll-indicator 1s infinite;
}

.black-square {
  position: absolute;
  width: 93%;
  height: 140%;
  left: 48%;
  top: -20%;
  background-color: black;
  overflow: hidden;
  transform: rotate(9.67deg);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 1800px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
  mix-blend-mode: normal;
}

@media only screen and (max-width: 1100px){
  .intro__image {
    margin: 250px 0 0 -2%;
  }

  .upper-container {
    height: 900px;
  }
}

@media only screen and (max-width: 870px){
  .intro__image {
    margin: 230px 0 0 -8%;
  }

}

@media only screen and (max-width: 730px){
  .intro__image {
    margin: 400px 0 0 -15%;
  }

}