.contact {
  width: 100%;
  min-height: 1000px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(0, 0, 0, 0.16) 100%), #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__heading_type_contact {
  margin-top: 120px;
}

.contact__links-container {
  margin: 40px 0 0;
  display: flex;
  flex-direction: row;
}

.contact__phone {
  height: 27px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.095em;
  color: black;
  margin: 0 40px 0 0;
  border-left: solid 2px black;
  border-right: solid 2px black;
  padding: 0 5px;
}

.contact__link {
  height: 27px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.095em;
  color: black;
  text-decoration: none;
  margin: 0 40px 0 0;
  border-left: solid 2px black;
  border-right: solid 2px black;
  transition: opacity 0.3s linear;
  padding: 0 5px;
}

.contact__link:last-of-type {
  margin-right: 0;
}

.contact__link:hover {
  opacity: .6;
}

.contact__form {
  width: 400px;
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__input {
  margin: 50px 0 0;
  width: 100%;
  height: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: black;
  background-color: transparent;
  border: none;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  padding: 0 0 1px 6px;

}

.contact__input_type_textarea {
  resize: none;
  height: 100px;
}

.contact__input:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8B8B8B;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #8B8B8B;
}

.contact__submit-button {
  margin: 40px 0 0;
  height: 35px;
  width: 150px;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  color: #000000;
  background-color: transparent;
  border: none;
  border-left: solid 2px black;
  border-right: solid 2px black;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.contact__submit-button:hover {
  opacity: .6;
}

.contact__input-error {
  margin: 10px auto 0 0;
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgb(255,0,0);
}

.contact__input-error_type_submit {
  margin-right: 0;
}

.contact__input-error_type_success {
  margin-top: 20px;
  font-size: 13px;
  color: black;
  opacity: .8;
}

.contact__loading-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.contact__loading {
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 400;
  font-size: 13px;
  color: black;
  opacity: .8;
  margin-top: 5px;
}

.contact__loading-image {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

@keyframes rotation {
  0% {
   transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
 }

 .rotation{
  animation: rotation 2s linear infinite;
}