@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

.contact {
  width: 100%;
  min-height: 1000px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(0, 0, 0, 0.16) 100%), #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.about__heading_type_contact {
  margin-top: 120px;
}


.contact__text {
  font-family: 'Open sans', sans-serif, serif;
  width: 400px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.095em;
  color: black;
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
}

.contact__link {
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.095em;
  color: black;
  text-decoration: none;
  margin: 0;
  transition: opacity 0.3s linear;
  padding: 0;
}

.contact__link:last-of-type {
  margin-right: 0;
}

.contact__link:hover {
  opacity: .6;
}

.contact__form {
  width: 400px;
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__input-title {
  width: 100%;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 45px 0 0 -3%;
}

.contact__input {
  margin: 10px 0 0;
  width: 100%;
  height: 30px;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: black;
  background-color: transparent;
  border: none;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  padding: 0 0 1px 6px;
}

.contact__input_type_error {
  border-color: red;
  background-color: rgb(255,0,0,.2);
}

.contact__input_type_shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

.contact__input[type=number] {
  -moz-appearance: textfield;
}

.contact__input::-webkit-outer-spin-button,
.contact__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact__input_type_textarea {
  resize: none;
  height: 100px;
}

.contact__input:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8B8B8B;
  opacity: .5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8B8B8B;
  opacity: .5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #8B8B8B;
  opacity: .5;
}

.contact__submit-button {
  margin: 40px 0 0px;
  height: 35px;
  width: 150px;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  color: #000000;
  background-color: transparent;
  border: none;
  border-left: solid 2px black;
  border-right: solid 2px black;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.contact__submit-button:hover {
  opacity: .6;
}

.contact__input-error {
  margin: 10px auto 0 0;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: rgb(255,0,0);
}

.contact__input-error_type_submit {
  margin: 15px 0 0;
  text-align: center;
}

.contact__input-error_type_success {
  margin-top: 20px;
  font-size: 13px;
  color: black;
  opacity: .8;
}

.contact__loading-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.contact__loading {
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 12px;
  color: black;
  opacity: .8;
  margin-top: 5px;
}

.contact__loading-image {
  width: 27px;
  height: 27px;
  margin-left: 10px;
}

@keyframes rotation {
  0% {
   transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
 }

 .rotation{
  animation: rotation 2s linear infinite;
}

@media only screen and (max-width: 510px) {
  .contact__text {
    width: 85%;
    max-width: 350px;
    font-size: 13px;
    line-height: 17px;
  }


  .contact__link {
    font-size: 13px;
    line-height: 17px;
  }

  .about__heading_type_contact {
    width: 58%;
    max-width: 180px;
    min-width: 130px;
    height: 60px;
    margin: 80px 5% 20px;
    font-size: 20px;
  }

  .contact__form {
    width: 75%;
    max-width: 400px;
    margin: 50px 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__submit-button {
    width: 100px;
  }

  .contact__input-error_type_success {
    text-align: center;
  }
}