.intro__mobile-container {
  width: 100%;
  height: 620px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: black;

}

.intro__mobile-background {
  background-image: url(../../images/c.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: -5%;
  width: 100%;
  height: 300px;
  z-index: 2;
}



.intro__container {
  width: 100%;
  max-width: 1440px;
  min-height: 1000px;
  margin: 0 auto 0;
  display: flex;
}

.intro__text-holder {
  margin: 230px auto 0 3%
}

.intro__heading {
  margin: 0;
  font-family: Raleway, sans-serif, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.intro__subtitle {
  margin: 53px 0 0;
  font-family: Raleway, sans-serif, serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
}

.intro__description {
  margin: 22px 0 0;
  font-family: Raleway, sans-serif, serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #919191;
}

.intro__links-container {
  margin: 120px 0 0;
  display: flex;
  flex-direction: row;
}

.intro__button {
  width: 61px;
  height: 56px;
  margin: 0 31px 0 0;
  padding: 0;
  background-color: #C4C4C4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s linear;
}

.intro__button:hover {
  opacity: .6;
}

.intro__logo {
  width: 37px;
  height: 35px;
}

@media only screen and (min-width: 1480px){
  .intro__text-holder {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1065px){
  .intro__heading {
    font-size: 35px;
  }

  .intro__subtitle {
    font-size: 65px;
  }

  .intro__description {
    font-size: 22px;
  }

  .intro__text-holder {
    margin-top: 200px;
  }

  .intro__links-container {
    margin-top: 100px;
  }

}


@media only screen and (max-width: 860px){
  .intro__heading {
    font-size: 32px;
  }

  .intro__subtitle {
    font-size: 60px;
    margin-top: 33px;
  }

  .intro__description {
    font-size: 20px;
  }

  .intro__text-holder {
    margin-top: 120px;
  }

  .intro__links-container {
    flex-wrap: wrap;
    width: 300px;
  }

  .intro__button {
    margin-bottom: 15px;
  }

}

@media only screen and (max-width: 760px){

  .intro__heading {
    font-size: 29px;
  }

  .intro__subtitle {
    font-size: 50px;
    margin-top: 15px;
  }

  .intro__description {
    font-size: 18px;
    margin-top: 0;
  }

  .intro__text-holder {
    margin-top: 100px;
  }

  .intro__links-container {
    flex-wrap: wrap;
    width: 250px;
    margin-top: 100px;
  }

  .intro__button {
    margin-bottom: 15px;
  }

}


@media only screen and (max-width: 561px){
  .intro__heading {
    font-size: 20px;
    line-height: 23px;
    color: white;
  }

  .intro__subtitle {
    font-size: 35px;
    line-height: 41px;
    color: white;
    margin-top: 5px;
  }

  .intro__description {
    color: white;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
  }

  .intro__text-holder {
    margin: 250px auto 0 6%;
    z-index: 2;
  }

  .intro__links-container {
    width: 250px;
    margin-top: 20px;
  }

  .intro__button {
    width: 25px;
    height: 56px;
    margin: 0 15px 0 0;
    padding: 0;
    background-color: transparent;
  }


  .intro__logo {
    width: 25px;
    height: 25px;
  }

}

@media only screen and (max-width: 215px){
  .intro__heading {
    font-size: 18px;
    line-height: 23px;
    color: white;
  }

  .intro__subtitle {
    font-size: 30px;
    line-height: 41px;
    color: white;
    margin-top: 5px;
  }

  .intro__description {
    color: white;
    font-size: 9px;
    line-height: 14px;
    margin-top: 8px;
  }

  .intro__text-holder {
    margin: 250px auto 0 6%;
    z-index: 2;
  }

  .intro__links-container {
    width: 250px;
    margin-top: 20px;
  }

  .intro__button {
    width: 25px;
    height: 56px;
    margin: 0 15px 0 0;
    padding: 0;
    background-color: transparent;
  }


  .intro__logo {
    width: 25px;
    height: 25px;
  }

}