.footer {
  background-color: #1A1A1A;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.18538em;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 15px;
}

.footer__links-container {
  width: 80px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link-image {
  margin: 0;
}

.footer__copyright {
  text-align: center;
  margin: 10px 2% 10px;
  max-width: 250px;
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}