

.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  margin-right: 2%;
}

.nav__button {
  font-family: Montserrat, sans-serif, serif;
  font-weight: 700;
  width: 140px;
  max-width: 140px;
  height: 42px;
  font-size: 17px;
  line-height: calc(20.72 / 17);
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.nav__button_type_white {
  font-size: 15px;
  line-height: calc(18.29 / 17);
  border-radius: 20px;
  background-color: white;
  color: black;
}

@media only screen and (min-width: 1480px){
  .nav {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1210px){
  .nav__button {
    width: 110px;
  }
}